<div class="bg"></div>
<div class="mat-typography" text-align="center">
  <div class="mat-display-2" align="center">Dedalus Text Analyzer</div>
</div>

<div fxLayoutAlign="center center" fxfill>
  <mat-card fxFlex="37">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" layout="row">
      <mat-button-toggle value="underline" >Vowels</mat-button-toggle>
      <mat-button-toggle value="underline" >Consonants</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="mat-display-2"> </div>
    
    <form class="analyzer-form" fxLayoutAlign="stretch">
     
      <mat-form-field
        class="analyzer-full-width"
        appearance="fill"
        align="center"
      >
        <mat-label>Add Text To Analyzer</mat-label>
        <textarea
          matInput
          placeholder="Ex. Imagine not being part of Dedalus? Sucks right?..."
          #box
        ></textarea>
      </mat-form-field>
    </form>
    <div layout="row" layout-margin flex>
      <button
        mat-raised-button
        color="primary"
        flex="20"
        #box
        (click)="getValuesToAnalyze('consonants', box.value)"
        ng-model="hideOutput"
      >
        Analyze Online
      </button>

      <div ng-hide="hideOutput">
        <p class="mat-body-2" *ngIf="visibilityVowels">Vowel count:</p>
        <p class="mat-body-2" *ngFor="let vowel of vowels">
          Letter '{{ vowel }}' appears {{ vowelsCountMap[vowel] }} times!!
        </p>
        <p class="mat-body-2" *ngIf="visibility">Consonants count:</p>
        <p class="mat-body-2" *ngFor="let consonant of consonants">
          Letter '{{ consonant }}' appears {{ consonantsCountMap[consonant] }}
          times!!
        </p>
        <!-- <button mat-raised-button color="primary">Analyze offline</button> -->
      </div>
    </div>
  </mat-card>
</div>
